@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,600);

body {
    font-family: 'Crimson Text', Georgia, Times, "Times New Roman", serif;
    margin: 20px;
    font-weight: 400;
    font-size: 20px;
}

.image {
    text-align: center;
    display: block;
}

img {
    border-radius: 20px;
    width: 100%;
    max-width: 650px;
}

a {
    text-decoration: none;
}

strong {
    font-weight: 600;
    color: #000000;
}

em {
    font-style: italic;
}

div {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 650px;
    width: 100%;
}
